/***************************************************************
components/base.styl
***************************************************************/

body
  background-color color-bg
  font 16px/28px font-primary
  color color-main
  transition-all-ease(.65s)
  &.scrolled
    background-color color-emphasis
  
