/***************************************************************
components/footer.styl
***************************************************************/

.footer
  padding-top 50px
  height 140px
  background-color rgba(255,255,255,.1)
  text-align center
  & a
    display inline-block
    margin-left 10px
    margin-right 10px
  & .author
    font-size .9em
    position relative
    top 20px
  