/***************************************************************
animations.styl
***************************************************************/

@-webkit-keyframes spaceboots {
  0% { -webkit-transform:  scale(1.001) rotate(.2deg); }
  1% { -webkit-transform: scale(1.004) rotate(-.5deg); }
  2% { -webkit-transform: scale(1.008) rotate(.8deg); }
  3% { -webkit-transform: scale(1.008) rotate(0deg); }
  4% { -webkit-transform: scale(1.008) rotate(.2deg); }
  5% { -webkit-transform: scale(1.008) rotate(-.1deg); }
  6% { -webkit-transform:  scale(1.001) rotate(.2deg); }
  7% { -webkit-transform: scale(1.004) rotate(-.5deg); }
  8% { -webkit-transform: scale(1.008) rotate(.8deg); }
  9% { -webkit-transform: scale(1.010) rotate(0deg); }
  10% { -webkit-transform: scale(1.008) rotate(.2deg); }
  11% { -webkit-transform: scale(1.008) rotate(-.1deg); }
  12% { -webkit-transform: scale(1.008) rotate(0deg); }
  13% { -webkit-transform: scale(1.008) rotate(.2deg); }
  14% { -webkit-transform: scale(1.008) rotate(-.1deg); }
  15% { -webkit-transform:  scale(1.001) rotate(.2deg); }
  16% { -webkit-transform: scale(1.004) rotate(-.5deg); }
  17% { -webkit-transform: scale(1.008) rotate(.8deg); }
  18% { -webkit-transform: scale(1.008) rotate(0deg); }
  19% { -webkit-transform: scale(1.008) rotate(.2deg); }
  20% { -webkit-transform:  scale(1.001) rotate(.2deg); }
  21% { -webkit-transform: scale(1.004) rotate(-.5deg); }
  22% { -webkit-transform: scale(1.008) rotate(.8deg); }
  23% { -webkit-transform: scale(1.008) rotate(0deg); }
  24% { -webkit-transform: scale(1.008) rotate(.2deg); }
  25% { -webkit-transform: scale(1.008) rotate(-.1deg); }
  26% { -webkit-transform:  scale(1.001) rotate(.2deg); }
  27% { -webkit-transform: scale(1.004) rotate(-.5deg); }
  28% { -webkit-transform: scale(1.008) rotate(.8deg); }
  29% { -webkit-transform: scale(1.008) rotate(0deg); }
  30% { -webkit-transform: scale(1.008) rotate(.2deg); }
  31% { -webkit-transform: scale(1.008) rotate(-.1deg); }
  32% { -webkit-transform: scale(1.008) rotate(0deg); }
  33% { -webkit-transform: scale(1.008) rotate(.2deg); }
  34% { -webkit-transform: scale(1.008) rotate(-.1deg); }
  35% { -webkit-transform:  scale(1.001) rotate(.2deg); }
  36% { -webkit-transform: scale(1.004) rotate(-.5deg); }
  37% { -webkit-transform: scale(1.008) rotate(.8deg); }
  38% { -webkit-transform: scale(1.008) rotate(0deg); }
  39% { -webkit-transform: scale(1.002) rotate(.2deg); }
  40% { -webkit-transform: scale(1.014) rotate(-.1deg); }
  41% { -webkit-transform:  scale(1.001) rotate(.2deg); }
  42% { -webkit-transform: scale(1.004) rotate(-.5deg); }
  43% { -webkit-transform: scale(1.008) rotate(.8deg); }
  44% { -webkit-transform: scale(1.008) rotate(0deg); }
  45% { -webkit-transform: scale(1.012) rotate(.2deg); }
  46% { -webkit-transform: scale(1.008) rotate(-.1deg); }
  47% { -webkit-transform: scale(1.008) rotate(0deg); }
  48% { -webkit-transform: scale(1.008) rotate(.2deg); }
  49% { -webkit-transform: scale(1.008) rotate(-.1deg); }
  50% { -webkit-transform:  scale(1.001) rotate(.2deg); }
  51% { -webkit-transform: scale(1.004) rotate(-.5deg); }
  52% { -webkit-transform: scale(1.008) rotate(.8deg); }
  53% { -webkit-transform: scale(1.008) rotate(0deg); }
  54% { -webkit-transform: scale(1.002) rotate(.2deg); }
  60% { -webkit-transform: scale() rotate(.5deg); }
  70% { -webkit-transform: scale() rotate(-.1deg); }
  80% { -webkit-transform: scale() rotate(.4deg); }
  90% { -webkit-transform: scale() rotate(.3deg); }
  100% { -webkit-transform:scale() rotate(-1deg); }
}