/***************************************************************
main.styl
***************************************************************/

font-primary = 'Helvetica Neue' 'Arial' sans-serif

//colors
color-white = #ffffff
color-bg = #21a7b0
color-main = #eef1e1
color-emphasis = #f1764a

//imports
@import 'mixins.styl'
@import 'vendor/normalize.css'
@import 'components/base.styl'
@import 'components/container.styl'
@import 'components/head.styl'
@import 'components/navigation.styl'
@import 'components/typography.styl'
